.profile {
  margin: auto;
  max-width: 880px;
  padding-top: 40px;
  padding-bottom: 51px;
  display: grid;
  grid-template-columns: 120px 30px fit-content(508px) 18px auto 30px 150px;
  grid-template-rows: repeat(2, 60px);

}

@media all and (width <=880px) {
  .profile {
    padding-top: 42px;
    padding-bottom: 36px;    
    grid-template-columns: 1fr auto auto 1fr;
    grid-template-rows: 120px 26px 27px 27px 36px 50px;
  }
}