.elements {
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: 880px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(360px, 1fr));
  row-gap: 20px;
  column-gap: 17px;
}

@media all and (width < 880px) {
  .elements {
    padding-left: 19px;
    padding-right: 19px;
  }
}