.popup__title-big-foto {
    margin: 0; 
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    position: absolute;
    left: 0;
    bottom: -25px;
}

@media all and (width <=700px) {
    .popup__title-big-foto {
        font-size: 12px;
        line-height: 15px;        
    }
}

