.popup__inputs {
    border: 0;
    margin: 0;
    padding: 0;
    margin-bottom: 52px;
}

@media all and (width <=700px) {
    .popup__inputs {       
        margin-bottom: 47px;
    }
}


